*{
    margin: 0;
    padding: 0;
}
.nav > ul{
    background-color: burlywood;
    list-style-type: none;
    display: flex;   
    justify-content: center;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav ul > li:hover ul{
    display: block;
    position: relative;
    padding: 60px;
}
.nav ul  li  a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 23px;
}
.nav .fa-bars{
    display: none;
}

@media(max-width:490px){
    .nav .fa-bars{
        display: block;
        position: fixed;
        font-size: 32px;
        padding: 10px;
        
    }
    .nav > ul {
        position: fixed;
        top: 0;
        left: -350px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding-top: 80px;
        background-color: burlywood;
        width: 270px;
        height: 100vh;
        transition: 0.5s;
        
    }
    .nav .fa-bars:hover + ul{
        left: 0;
    }
}
.encabezado {
    background-image: url(../img/123.png);
    background-size: cover;
    width: 100%;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width:490px){
    .encabezado__titulo {
       justify-content: center;
       text-align: center;
       padding: 5px;
       margin: 5px;
       }
}
@media(max-width:490px){
       .encabezado {
       background-position: center;
       height: auto;
       justify-content: center;
       text-align: center;
       
       }
}
.encabezado-productos{
    background-color: burlywood;
    background-size: cover;
     width: 100%;
    height: 130px;
}

.encabezado__productos{
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;    
}
@media(max-width:490px){
    .encabezado__productos{
        justify-content: center;
        padding: 35px;
        background-size: auto;
    }
}

.encabezado__titulo {
    display: flex;
    justify-content: center;
    font-size: 100px ;
    color: whitesmoke;
    padding: 20px;
}
.encabezado__parrafo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font: bold;
    font-size: 50px;
    color: white
}
@media(max-width:490px){
    .encabezado__parrafo{
        text-align: center;
        font-size: 40px;
        padding-top: 5px;
    }
}
.subtitulo3 {
    padding: 20px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    font-style: italic;    
} 
@media(max-width:490px){
    .subtitulo3{
        padding: 5px;
        margin: 5px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }
}
.boton {
    padding: 10px 20px;
    background-color: burlywood ;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 30px;
    border: solid 1px;
}
@media(max-width:490px){
    .boton{ 
        width: 100px;
        height: 40px;
        padding: 10px;
        margin-top: 10px;
        font-size: 13px;
         }
}
@media(max-width:490px){
    .cuadros .cuadro { 
    width: 300px;
    height: 100px;
    padding-bottom: 20px;
    margin: 25px;
    font-size: 15px;
     }
}
.cuadros {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.cuadro {
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.803);
    display: flex;
    width: 480px;
    height: 180px;
    gap: 20px;
    margin: 10px;
    padding: 5px;    
}
.cuadro img {
    width: 150px;
}
.boton-Ver-Mas{
    margin: 30px;
}
.boton__info {
    margin-top: 20px;
    padding: 15px 90px;
    background-color: burlywood ;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    border: solid 2px;   
}
@media(max-width:490px){
    .boton-Ver-Mas{
        margin-top: 60px;
    }
}
.imagen-cuotas {
    margin-top:20px;
    padding-top: 40px;
    background-image: url(../img/Tarjetas.jpg);
    background-size: cover;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: oblique;
    font-family: fantasy;
    font-size: 80px;
    color: rgba(171, 134, 87, 0.896);
}
@media(max-width:490px){
    .imagen-cuotas{
        height: auto;
        font-size: 30px;
        justify-content: center;
        text-align: center;
      }
}
.pie  {
    
    background-color: burlywood;
    background-size: cover;
    padding: 25px;
}
.pie__titulo {
    display: flex;
    justify-content: center;
    font-family: fantasy ;
    font-style: italic;
    font-size: 40px;
}
.pie__subtitulo {
    margin: 5px;
    padding: 5px;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pie__subtitulo-1 {
    margin: 2px;
    padding: 2px;
    font-style: italic;
    font-size: 20px;
    display: flex;
    justify-content: center;
    font-family: fantasy
}
@media(max-width:490px){
    .pie{
        display: block;
        background-size: cover;
        width: auto;
        height: auto;
    }
}
@media(max-width:490px){
    .pie__titulo {
        font-size: 22px;
    }
}
@media(max-width:490px){
    .pie__subtitulo {
        font-size: 15px;
    }
}
.nosotros  {
    background-color: whitesmoke;
    background-size: cover;
    width: 100%;
    height: 500px;
}
.nosotros__info {
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.formulario button:nth-child(7) {
    padding: 10px 20px;
    background-color: white ;
    color: black;
    border-radius: 7px;
    font-weight: bold;
    margin-top: 30px;
    border: solid 1px;
}
.formulario {
    background-color: burlywood;
    color: rgba(0, 0, 0, 0.69);
    padding: 30px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}
.formulario label{
    display: flex;
    flex-direction: column;
    width: 800px
}
@media(max-width:490px){
        .formulario > label {
             width: auto;
             height: auto;
            font-size: 15px;
            padding: 5px;
        }
}
.cambios {
    padding: 10px;
    background-color: burlywood;
    background-size: cover;
    height: 500px;
}
.cambios__lista{
    padding: 30px;
    margin: 10px;
    line-height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 20px;    
}
@media(max-width:490px){
    .cambios {
        width: auto;
        height: auto;
       font-size: 5px;
       text-align: center;
        
   
    } 
}
@media(max-width:490px){
    .nosotros {
        background-color: burlywood;
        width: auto;
        height: auto;
        font-size: 5px;
    } 
}